{% extends "blogbase.html.twig" %}
{% block title %}Accueil | {{ parent() }} {% endblock %}
{% block content %}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    <!------ Include the above in your HEAD tag ---------->
    <div class="container">
        <div class="row">
            {% for article in articles %}
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mt-4">
                    <div class="card shadow">
                        <div class="card-body text-center">
                            <a href="#">
                                <img class="card-img-top" src="{{ asset('uploads/' ~ article.picture) }}" alt="image {{ article.title }}" style="width: 170px; height: 150px">
                            </a>
                            <ul class="list-inline mt-3">
                                <li class="list-inline-item"><i class="fas fa-user"></i> {{ app.user.username }}</li>
                                <li class="list-inline-item"><i class="far fa-clock"></i> {{ article.publicationDate|date('d/m/Y') }}</li>
                            </ul>
                            <hr>
                            <h2 >{{ article.title }}</h2>
                            <p class="lead">Description </p>
                            <a class="btn btn-outline-dark my-2" href="{{ path('article_show', {'id': article.id}) }}" role="button">Read more...</a>
                            {% if app.user %}
                                <h3 style="margin: 0">
                                    <a href="{{ path('article_remove', {'id': article.id}) }}" style="color: #AA3333; font-size: 1rem; " target="_blank" onclick="return confirm('are you sur?')">Supprimer</a>
                                    <a href="{{ path('article_edit', {'id': article.id}) }}" style="color: #4070F4; font-size: 1rem; ">Modifier</a>
                                </h3>
                            {% endif %}
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>


{% endblock %}