{% extends "blogbase.html.twig" %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
    <style>
        body {
            background: #eee;
        }

        .date__box {
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: #ccc;
            border: 4px solid;
            font-weight: bold;
            padding: 5px 10px;
        }
        .date__box .date__day {
            font-size: 22px;
        }

        .blog-card {
            padding: 30px;
            position: relative;
        }
        .blog-card .date__box {
            opacity: 0;
            transform: scale(0.5);
            transition: 300ms ease-in-out;
        }
        .blog-card .blog-card__background,
        .blog-card .card__background--layer {
            z-index: -1;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        .blog-card .blog-card__background {
            padding: 15px;
            background: white;
        }
        .blog-card .card__background--wrapper {
            height: 100%;
            clip-path: polygon(0 0, 100% 0, 100% 80%, 0 60%);
            position: relative;
            overflow: hidden;
        }
        .blog-card .card__background--main {
            height: 100%;
            position: relative;
            transition: 300ms ease-in-out;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .blog-card .card__background--layer {
            z-index: 0;
            opacity: 0;
            background: rgba(51, 51, 51, 0.9);
            transition: 300ms ease-in-out;
        }
        .blog-card .blog-card__head {
            height: 300px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .blog-card .blog-card__info {
            z-index: 10;
            background: white;
            padding: 20px 15px;
        }
        .blog-card .blog-card__info h5 {
            transition: 300ms ease-in-out;
        }
        .blog-card:hover .date__box {
            opacity: 1;
            transform: scale(1);
        }
        .blog-card:hover .card__background--main {
            transform: scale(1.2) rotate(5deg);
        }
        .blog-card:hover .card__background--layer {
            opacity: 1;
        }
        .blog-card:hover .blog-card__info h5 {
            color: #0097e6;
        }

        a.icon-link {
            color: #363738;
            transition: 200ms ease-in-out;
        }
        a.icon-link i {
            color: #0097e6;
        }
        a.icon-link:hover {
            color: #0097e6;
            text-decoration: none;
        }

        </style>
    <div class="container mt-5">
        <div class="row">
            <div class="col-12">
                <article class="blog-card">
                    <div class="blog-card__background">
                        <div class="card__background--wrapper">
                            <div class="card__background--main" style="background-image: url({{ asset('uploads/') ~ article.picture }});">
                                <div class="card__background--layer"></div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-card__head">
          <span class="date__box">
            <span class="date__day">{{ article.publicationDate|date('d') }}</span>
            <span class="date__month">{{ article.publicationDate|date('F-Y') }}</span>
          </span>
                    </div>
                    <div class="blog-card__info">
                        <h5 style="font-weight:bolder ">{{ article.title }}</h5>
                        <p>
                            <a href="#" class="icon-link mr-3"><i class="fa fa-pencil-square-o"></i> {{ app.user.username }}</a>
                            {#commentair  <a href="#" class="icon-link"><i class="fa fa-comments-o"></i> 150</a>#}
                        </p>
                        <h5 style="font-style: italic; font-size: small">
                            {% for category in article.categories %}
                                {{ category.label }}{{ loop.last ? '' : ',' }}
                            {% endfor %}
                        </h5>
                        <p>
                            {{ article.content | raw}}
                        </p>
                    </div>
                </article>
            </div>
        </div>
    </div>

    <section class="detail-page">
        <div class="container mt-5">

        </div>
    </section>

{% endblock %}